.product-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 75px auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .headPage{
        background-color: #4caf50;
        color: white;
        text-align: center;
        padding: 20px 0;
      
  }
  .product-image {
    width: 400px;
    height: 400px;
    position: relative;
    margin-left: 20px;
  }
  
  .product-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  .product-details {
    flex: 1;
    padding: 30px;
  }
  
  .product-title {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .product-category {
    font-size: 15px;
    color: #777;
    margin-bottom: 10px;
  }
  
  .product-price {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #27ae60;
  }
  
  .product-description {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 25px;
  }
  
  .product-rating,
  .quantity-selector {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 25px;
  }
  
  .quantity-selector button {
    background: #007878;
    color: #fff;
    border: none;
    padding: 6px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .quantity-selector button:hover {
    background-color: #218c54;
  }
  
  .quantity-selector input {
    width: 50px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5.5px 0;
    outline: none;
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  @media (max-width: 768px) {
    .product-container {
      flex-direction: column;
      padding: 1rem;
    }
  
    .product-details {
      padding: 1rem;
    }
  }

  .add-to-cart-btn{
    background-color: #DF4244;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }


  .tabs {
    display: flex;
    gap: 15px;
  }
  
  .tab-button {
    padding: 10px 20px;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
  }
  
  .tab-button.active {
    color: black;
    text-decoration: underline;
    text-decoration-color: #DF4244;
    text-decoration-thickness: 3px;
    text-underline-position: under;
  }
  
  .tab-button:not(.active) {
    color: #888; 
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); 
  }
  
  .tab-button:hover {
    color: #DF4244; 
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2); 
  }
  

  .reviews-section {
    margin-top: 30px;
    border-radius: 10px;

  }
  
  .review-item {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #21212147 ;
    
    padding: 30px;
  }
  
  .review-item p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .review-item button {
    padding: 5px 10px;
    background-color: #DF4244;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .review-item button:hover {
    background-color: #e62e2e;
  }
  
  .add-review {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .add-review textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    resize: none;
    font-size: 14px;
    color: #333;
  }
  
  .add-review button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #DF4244;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .add-review button:hover {
    background-color: #e62e2e;
  }
  

  
  .add-review textarea:focus {
    outline: none;
    border-color: #DF4244;
  }
  
  .reviews-section p {
    font-size: 14px;
    color: #777;
    font-style: italic;
  }
  
  .reviews-section h5 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
  }
  .rewievStar{
    color: #FFDD45;
  }
  
.sliderImg{
  width: 80px;
  height: 75px;
  border: 1px solid #E4E4E4;
  padding: 10px;
  cursor: pointer;
}